<h1 class="my-5">Interogări</h1>

<div class="container-fluid">
    <ol>
        <li style=" margin-bottom: 10px;">
            <a class="text-dark" asp-area="" asp-controller="Interogari" asp-action="One">Echipamente la filiala cu
                adresa “Strada
                Socoleni 7”</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a class="text-dark" asp-area="" asp-controller="Interogari" asp-action="Two">Echipamente cumparate înainte
                de 2024</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a class="text-dark" asp-area="" asp-controller="Interogari" asp-action="Three">Echipamente cu grupa de
                mușchi "Chest"</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a class="text-dark" asp-area="" asp-controller="Interogari" asp-action="Four">Clienții care au 32 ani sau
                mai mult</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a class="text-dark" asp-area="" asp-controller="Interogari" asp-action="Five">Clienții care au mai puțin de
                o vârstă dată la input</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a class="text-dark" asp-area="" asp-controller="Interogari" asp-action="Six">Filialele din Chișinău</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a class="text-dark" asp-area="" asp-controller="Interogari" asp-action="Seven">Filialele fondate în
                2022</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a class="text-dark" asp-area="" asp-controller="Interogari" asp-action="Eight">Clienți cu abonamente
                active</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a class="text-dark" asp-area="" asp-controller="Interogari" asp-action="Nine">Clienți cu un anumit prenume
                dat la input</a>
        </li>
        <li style="margin-bottom: 10px;">
            <a class="text-dark" asp-area="" asp-controller="Interogari" asp-action="Ten">Echipamente în denumirea
                cărora se conține un șir de caractere dat la input</a>
        </li>
    </ol>
</div>