@{
    ViewData["Title"] = "Home Page";
}

<div style="width: fit-content; height: fit-content; margin: auto; inset:0; position:absolute; text-align: center">
    <h1 style="font-size: 50px; display: inline-flex; align-items:center;">Varianta "Sala de sport"&nbsp;<span style="font-size: 30px; margin:0 1px">❚█══█❚</span></h1>
    <p style="font-size: 20px; margin-top: 16px;">Realizat de Onța Nicolae</p>
    </div>